DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=pos
DB_USERNAME=postgres
DB_PASSWORD=123456

CURL_API_URL=http://api.example.com
CURL_API_TOKEN=your_api_token_here

OPENAI_API_TOKEN=your_openai_token_here
OPENAI_ORG_ID=your_org_id_here
